@import './_variables.scss';

:root {
  --van-nav-bar-background-color: #4d8ee1;
  --van-nav-bar-text-color: white;
  --van-nav-bar-title-text-color: white;
  --van-cell-background-color: white;
  --van-nav-bar-icon-color: white;
  --van-button-primary-background-color: #1989fa
}

.cell-title {
  flex: 1;
}

.cell-value {
  flex: 2;
}

.van-field {
  @apply border
}