@import './_variables.scss';

* {
  font-family: Microsoft Yahei, sans-serif;
}

body {
  max-width: 750px;
  margin: 0 auto;
}

:root {
  --van-nav-bar-background-color: #4d8ee1;
  --van-nav-bar-text-color: white;
  --van-nav-bar-title-text-color: white;
  --van-cell-background-color: white;
  --van-nav-bar-icon-color: white;
  --van-button-primary-background-color: #1989fa;
  --van-swipe-indicator-inactive-background-color: #777;
  --van-swipe-indicator-size: 8px;
  --van-swipe-indicator-margin: var(--van-padding-xs);
}

.van-tabs__nav {
  z-index: 2000;
}

.cell-title {
  flex: 1;
}

.cell-value {
  flex: 2;
}

.van-field {
  @apply border-b;
}

.toast {
  @apply w-screen h-screen flex justify-center items-center bg-red-500 fixed top-0 left-0;
}

.avatar {
  @apply w-[60px] h-[60px] rounded-full;
}

.van-dialog {
}

.van-uploader__input-wrapper {
  flex: 1 !important;
}

.animate_fade_left {
  animation: fade-left 0.5s;
}

.animate_fade_out_left {
  animation: fade-out-left 0.5s;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateX(30%);
  }
}

.van-hairline--bottom:after {
  border: none;
}

.van-popup--center {
  z-index: 2101 !important;
}

.markdown {
  h3 {
    @apply my-3;
  }

  p {
    @apply text-sm text-[#666];
  }
}
